{% extends 'base.html.twig' %}
{% block body %}

    <table border="2">
        <thead>

        <th>titre</th>
        <th>Description</th>
        </thead>
        {% for i in tab %}
            <tr> <td> {{ i.gettitre() }} </td>
                <td> {{ i.gettext() }} </td>

            </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}