{# Call NotificationsBundles's assets #}
{{ notifications_assets() }}
<script>
    /**
     * After calling notifications_assets() "pusher" is now available
     * and you can use it this way
     */
function OnNotificationPushed(data) {
    console.log("data",data);}
</script>

{% for notif in notifications %}
<li>
{{ notif.title }}
    {{ notif.description|raw }}
    <a href="{{ path(notif.Route,notif.Parameters) }}">see</a>

</li>
{% endfor %}