.content-wrapper, .main-footer {
    /*
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    */
    margin-left: 230px;
    z-index: 820;
}

aside {
    position: fixed !important;
}

.form-elegant .font-small {
    font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(255, 165, 0, 0.28), 0 4px 15px 0 rgba(240, 145, 0, 0.15);
    box-shadow: 0 2px 5px 0 rgba(255, 165, 0, 0.28), 0 4px 15px 0 rgba(240, 145, 0, 0.15);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(255, 165, 0, 0.28), 0 4px 15px 0 rgba(240, 145, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(255, 165, 0, 0.28), 0 4px 15px 0 rgba(240, 145, 0, 0.15);
}

.form-elegant .modal-header {
    border-bottom: none;
}

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important;
}

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400;
}